* {
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    text-align: center;

}
body {
    /* background-color: rgb(16, 175, 233); */
    background-color: rgb(149, 79, 123);

}

#valid{
    display: none;
    margin-left:auto;
    margin-right:auto;
    height: 6em;
    width: 11em;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(122, 241, 37, 1);
    
}
#invalid{
    display: none;
    margin-left:auto;
    margin-right:auto;
    height: 6em;
    width: 11em;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(237, 80, 27, 1);
    
}

#container {
    top: 10%;
    left: 13%;
    position: absolute;
    justify-content: center;
    width: 75%;

}

h1 {
    font-size: 3.1em;
    color: white;
    margin-bottom: 70px;

}

h2{
    margin-bottom: 50px;
    color: white;
    font-size: 1.4rem;

}

p { 
    color: white; 
    margin-bottom: 50px;
    font-size: 1.4rem;

}

#btn {
    color: white;
    background-color: rgb(237, 145, 16);
    height: 50px;
    width: 100px;
    font-size: 1.3em;
    border-radius: 10px;
    border: 0;

}
#btn:hover {
    color: rgb(237, 145, 16);
    background-color: #fff;
    transition:ease 0.3s;
}

#search {
    width:75%;
    height: 30px;
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 10px;
    border: 0;

}
