* {
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    text-align: center;

}
body {
    background-color: #10afe9;
    /* background-color: #2a7604; */

}

#valid{
    display: none;
    margin-left:auto;
    margin-right:auto;
    height: 6em;
    width: 11em;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(122, 241, 37, 1);
    
}
#invalid{
    display: none;
    margin-left:auto;
    margin-right:auto;
    height: 6em;
    width: 11em;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(237, 80, 27, 1);
    
}

#container {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 75%;

}

h1 {
    font-size: 2.1em;
    color: white;
    margin-bottom: 15px;

}

h2{
    margin-bottom: 30px;
    color: white;
    font-size: 1.4rem;

}

p { 
    color: white; 
    margin-bottom: 50px;
    font-size: 1.1rem;

}

#btn {
    color: white;
    background-color: rgb(237, 145, 16);
    height: 50px;
    width: 100px;
    font-size: 1.3em;
    border-radius: 10px;
    border: 0;
    transition:ease 0.3s;


}
#btn:hover {
    color: rgb(237, 145, 16);
    background-color: #fff;
}

#search {
    width:75%;
    height: 30px;
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 10px;
    border: 0;

}
@media  screen and (min-width: 1100px) {
    
    #container {
        width: 50vw;
    }

    h1 {
        font-size: 4.1em;
    }
    
    h2{
        font-size: 1.6rem;
    }
    
    p { 
        font-size: 1.4rem;
    }
}
